/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 29, 2014, 12:46:19 PM
    Author     : alixp_000
*/

@font-face {
    font-family: Agency FB-Bold;
    src: url('AgencyFB-Bold.ttf');
}

#shipyardHeader {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #cd32cd;
    -fx-font-weight: BOLD;
    -fx-font-size: 14px;
}
#shipLabel {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #32cd32;
    -fx-font-weight: BOLD;
    -fx-font-size: 16px;
}

#coinLabel2 {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #32cd32;
    -fx-font-weight: BOLD;
    -fx-font-size: 16px;
}

.label {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #cd32cd;
    -fx-font-weight: BOLD;
    -fx-font-size: 15px;
}
#shipLabel {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #32cd32;
    -fx-font-weight: BOLD;
    -fx-font-size: 14px;
}
#coinLabel2 {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #32cd32;
    -fx-font-weight: BOLD;
    -fx-font-size: 16px;
}
#coinShipLabel {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #32cd32;
    -fx-font-weight: BOLD;
    -fx-font-size: 16px;
}
.button {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #cd32cd;
    -fx-font-weight: BOLD;
    -fx-font-size: 21px;
}
/*#titan1 {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #32cd32;
    -fx-font-size: 16px;
    
}
#titan2 {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #32cd32;
    -fx-font-size: 16px;
    
}
#titan3 {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #32cd32;
    -fx-font-size: 16px;
    
}
#banshee1 {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #32cd32;
    -fx-font-size: 16px;
    
}
#banshee2 {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #32cd32;
    -fx-font-size: 16px;
    
}
#banshee3 {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #32cd32;
    -fx-font-size: 16px;
    
}
#titan1 {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #32cd32;
    -fx-font-size: 16px;
    
}
#titan1 {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #32cd32;
    -fx-font-size: 16px;
    
}
#titan1 {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #32cd32;
    -fx-font-size: 16px;
    
}
#titan1 {
    -fx-font-family: 'Agency FB-Bold';
    -fx-text-fill: #32cd32;
    -fx-font-size: 16px;
    
}*/

